/** Base CSS style, used as a common starting point for all the pages **/

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0.6em;
	font-family: Raleway, sans-serif;
}

* {
	box-sizing: border-box;
}

.main-container {
	max-width: 1000px;
	margin: 0 auto;
}

button {
	padding: 0.5em;
	margin: 0;
	border-radius: 4pt;
	border: 1px solid #2E6DA4;
	font-size: 1em;
	line-height: 1em;
	font-family: Raleway, sans-serif;
	color: #fff;
	background-color: #337AB7;
	cursor: pointer;
}

input {
	height: 1.6em;
	margin: 0;
	padding-left: 0.5em;
	border: 1px solid #ccc;
	border-radius: 2pt;
	font-size: 1em;
	line-height: 1em;
	font-family: Raleway, sans-serif;
	color: #2d2d2d;
}

code {
	padding: 0em 0.2em;
	font-size: 1.1em;
	background-color: #F6F9FB;
}

a.thumb_link {
	display: inline-block;
	margin: 1.0em 0em;
	padding: 0.5em;
	box-sizing: border-box;
	border: 1px solid #DFDFDF;
	text-decoration: none;
	cursor: pointer;
}
a.thumb_link:hover {
	text-decoration: none;
	border: 1px solid #358CCB;
}

a.thumb_link img {
	max-width: 100%;
	height: auto;
	margin: 0;
	padding: 0;
}

footer {
	margin-top: 2em;
	margin-bottom: 1em;
	text-align: center;
}